# Data Science Tools and Ecosystem

## Author: Terry Eltobgi

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List some commonly used libraries used by Data Scientist
- List common data science tools

Some of the popular languages that Data Scientists use are:

1. Python
2. Apache 
3. Julia
4. R
5. Scala
6. Java
7. C++

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Keras
6. PyTorch
7. Scrapy

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Tableau|
|Apache Spark|
|Red Hat OpenShift|

#### Below are a few examples of evaluating arithmetic expressions in Python

In Python eval() function will evaluate arithmetic expressions.

Examples:

- */ + 9 7 8 2
Answer: 4

- *5 3 7 * + 4 -
Answer: 22

In [6]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335